.sprite-black{
    display: none;
}

.sprite-revealed{
    display: none;
}

.poke-input{
    display: none;
}

.blackout {
    filter:brightness(0%)
}
.revealed {
    filter:brightness(100%)
}

.audio{
    display: none;
}

.correct{
    display: none;
}

.wrong{
    display: none;
}

.splash {
    background-image: url('../../../img/WhosThatPokemonTemplateHD.jpg');
    filter: brightness(120%);
    width: 150%;
    min-height: 377px;
    max-width: 800px;
    align-items: center;
    -webkit-background-size: 100%;
    -moz-background-size: fill;
    -o-background-size: fill;
}