.kanto {
    background-image: url('../../../img/Kanto.png');
    background-size: 100%;
  
}

.johto {
    background-image: url('../../../img/Johto.png');
    background-size: 100%;
}
.hoenn {
    background-image: url('../../../img/Hoenn.png');
    background-size: 100%;
    
}

.sinnoh {
    background-image: url('../../../img/Sinnoh.png');
    background-size: 100%;
}

.unova {
    background-image: url('../../../img/Unova.png');
    background-size: 100%;
}

.alola {
    background-image: url('../../../img/Alola.png');
    background-size: 100%;
}

.kalos {
    background-image: url('../../../img/Kalos.png');
    background-size: 100%;
}

.galar {
    background-image: url('../../../img/Galar.png');
    background-size: 100%;
}

.splash {
    background-image: url('../../../img/WhosThatPokemonTemplateHD.jpg');
    filter: brightness(120%);
    width: 150%;
    min-height: 377px;
    min-width: 530px;
    align-items: center;
    -webkit-background-size: 100%;
    -moz-background-size: fill;
    -o-background-size: fill;
}

.darken{
    filter:brightness(0%);
    /* height:  */
 margin-left: 35px;
    margin-top: 20px;   
}